---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-50 dark:bg-gray-800">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="col-span-1 md:col-span-2">
        <h3 class="text-2xl font-bold text-primary-dark dark:text-primary-light">Nemco-Net</h3>
        <p class="mt-4 text-gray-600 dark:text-gray-300">
          Transformamos ideas en soluciones digitales. Creamos sitios web atractivos, responsivos y fáciles de usar.
        </p>
      </div>
      <div>
        <h4 class="text-sm font-semibold text-gray-900 dark:text-white uppercase tracking-wider">Contact</h4>
        <ul class="mt-4 space-y-4">
          <li>
            <a href="mailto:contact@nemco-net.com" class="text-gray-600 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light">
              contact@nemco-net.com
            </a>
          </li>
          <li>
            <a href="tel:+1234567890" class="text-gray-600 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light">
              +57(322) 429-4287
            </a>
          </li>
        </ul>
      </div>
      <!-- <div>
        <h4 class="text-sm font-semibold text-gray-900 dark:text-white uppercase tracking-wider">Legal</h4>
        <ul class="mt-4 space-y-4">
          <li>
            <a href="/privacy" class="text-gray-600 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light">
              Privacy Policy
            </a>
          </li>
          <li>
            <a href="/terms" class="text-gray-600 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light">
              Terms of Service
            </a>
          </li>
        </ul>
      </div> -->
    </div>
    <div class="mt-8 border-t border-gray-200 dark:border-gray-700 pt-4">
      <p class="text-center text-gray-400 dark:text-gray-500">
        © {currentYear} Nemco-Net. All rights reserved.
      </p>
    </div>
  </div>
</footer>